recursive-include deploylane/scripts *.sh
recursive-include deploylane/templates *.sh *.yml *.conf *
prune .deploylane
prune .workspace
global-exclude *.vars.yml

# Exclude dev artifacts
prune .venv
prune dist
prune build

# Ignore caches
global-exclude __pycache__ *.pyc